@using WebBlazor.Models.ViewModels.Post
@using WebBlazor.Models
@inject Components.ServiceOfAuthorize serviceOfAuthorize

<div class="grid-post-head">
    <a href="/Post/@post.PostId"><h3>@post.Header</h3></a>
    <span><StarsRating PercentOfRating="@(post.Score * 20)" PostId="@(post.PostId)" /></span>
    <div></div>
</div>
<p>@post.BriefDesctiption</p>
<br />
<div class="grid-comment-footer">
    <p class="container-date">@DateConverter.GetTime(post.Created)</p>
    <div></div>
    @if (post.BelongsToUser)
    {
        <div class="post-edit-delete">
            <font size="2"><a href="/CreatePost/@post.PostId">Edit</a></font>
            <font size="2"><a onclick="@Delete">Delete</a></font>
        </div>
    }
</div>
<hr />
<br />

@functions{
    [Parameter] PostMiniViewModel post { get; set; }
    [Parameter] private Action<PostMiniViewModel> deletePost { get; set; }

    private async Task Delete()
    {
        await serviceOfAuthorize.GetAsync($"api/Post/Delete?postId={post.PostId}");
        deletePost(post);
    }
}