@using WebBlazor.Models.ViewModels.Post
@using WebBlazor.Models

<div>
    <div class="post-head">
        <a href="/Post/@post.PostId"><h3>@post.Header</h3></a>
        <span><StarsRating PercentOfRating="@(post.Score * 20)" PostId="@(post.PostId)" /></span>
    </div>
    <span>@post.BriefDesctiption</span>
</div>
<br />
<div class="grid-cols-two">
    <UserMini User="@post.AuthorUserMiniViewModel" />
    <p class="container-date">@DateConverter.GetTime(post.Created)</p>
</div>
<br />
<hr />
<br />
<br />

@functions {
[Parameter] PostCompactViewModel post { get; set; }
}
