@using WebBlazor.Models.ViewModels.Post
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div>
    <div class="grid-post-head">
        <a href="/Post/@post.PostId"><h2>@post.Header</h2></a>
        <span><StarsRating PercentOfRating="@(post.Score * 20)" PostId="@(post.PostId)" /></span>
        <div></div>
        <span>@post.Created.ToLongDateString()</span>
    </div>
    <br />
    <span>@post.BriefDesctiption</span>
</div>
<br />
<div class="grid-cols-two">
    <UserMini User="@post.AuthorUserMiniViewModel" />
    <a ></a>
</div>
<br />
<hr />
<br />
<br />

@functions {
    [Parameter] PostCompactViewModel post { get; set; }

    private void OpenPost() => UriHelper.NavigateTo($"/Post/{post.PostId}");
}
