
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@Html.ActionLink("CreatePost", "CreatePost", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })
@Html.ActionLink("ListPostsViewModel", "ListPostsViewModel", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })
@Html.ActionLink("ListNotFinishedPostsViewModel", "ListNotFinishedPostsViewModel", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })
@Html.ActionLink("ListPostsMiniViewModel", "ListPostsMiniViewModel", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })
@Html.ActionLink("ListNotFinishedPostsMiniViewModel", "ListNotFinishedPostsMiniViewModel", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })
@Html.ActionLink("EditUser", "EditUser", "ForTests", new { }, new { @class = "btn btn-info", role = "button" })