@model Domain.Contracts.Models.ViewModels.Post.PostViewModel

@{
    ViewData["Title"] = "PostViewModel";
}

<div class="container">
    <div class="row">
        <h2>@Model.Header</h2>
    </div>
    <div class="row">
        <span>@Model.Section</span>
        <span>@Model.Score</span>
    </div>
    <div class="row">
        @Model.BriefDesctiption
    </div>
    <div class="row">
        @Model.Content
    </div>
    <hr />
    <div class="row">
        @Html.Partial("UserMini_PartialView", Model.AuthorUserMiniViewModel)
    </div>
</div>

<form asp-action="PutEstimate">
    <input type="hidden" name="postId" value="@Model.PostId"/>
    <input type="number" name="score" min="0" max="5"/>
    <input type="submit"  class="btn btn-default" value="Put an estimate"/>
</form>

@Html.Partial("CreateCommentPartialView", new Domain.Contracts.Models.ViewModels.Comment.CommentCreateEditViewModel() { PostId = Model.PostId })

@await Html.PartialAsync("ListCommentViewModel", Model.Comments)