@inject JsInteropClasses.ServiceOfTheme serviceOfTheme
@inject Services.ServiceOfLocalization serviceOfLocalization
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="pure-menu pure-menu-horizontal" id="navbar">
    <div class="logo"><a href="/@("Fresh:f:fin")"><font size="6">ItNews</font></a></div>
    <div><img onclick="@ChangeTheme" src="@serviceOfTheme.PahtIcon" class="cursor-pointer" /></div>
    <div class="account-nav">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <select onchange="@LanguageChange">
                    @if(languages != null)
                    {
                        @foreach (var item in languages)
                        {
                            <option>@item.Key</option>
                        }
                    }
                </select>
            </li>
            @if (serviceOfAuthorize.IsAuthorize)
            {
                <li class="pure-menu-item">
                    <a href="/UserPage/@(serviceOfAuthorize.DataAboutUser?.UserProfileId)" class="pure-menu-link">
                        @serviceOfAuthorize.DataAboutUser?.Login
                        <font color="red"><LocalizationSentence Sentence="@((serviceOfAuthorize.DataAboutUser != null && serviceOfAuthorize.DataAboutUser.claims.Any(a => a.ClaimType == "blocked")) ? $"blocked" : "")" /></font>
                        <font color="orange"><LocalizationSentence Sentence="@((serviceOfAuthorize.DataAboutUser != null && serviceOfAuthorize.DataAboutUser.Priority == 0) ? "not confirmed" : "")" /></font>
                    </a>
                </li>
                <li class="pure-menu-item"><a href="/Login" class="pure-menu-link" onclick="@serviceOfAuthorize.Logout"><LocalizationSentence Sentence="@("Login out")" /></a></li>
            }
            else
            {
                <li class="pure-menu-item"><a href="/Login" class="pure-menu-link"><LocalizationSentence Sentence="@("Login")" /></a></li>
                <li class="pure-menu-item"><a href="/Registration" class="pure-menu-link"><LocalizationSentence Sentence="@("Registration")" /></a></li>
            }
        </ul>
    </div>
    <div class="pure-form" id="search">
        <input type="text" class="pure-input-rounded" bind="@SearchWords" />
        <button onclick="@(() => UriHelper.NavigateTo($"/Search/{SearchWords}"))" class="pure-button"><LocalizationSentence Sentence="@("Search")" /></button>
    </div>
</div>

@functions{
    private string SearchWords { get; set; }
    private List<KeyValuePair<string, string>> languages { get; set; }

    protected async override Task OnInitAsync()
    {
        serviceOfAuthorize.UpdateAfterAuthorization += (() => this.StateHasChanged());
        await serviceOfTheme.Init();
        languages = serviceOfLocalization.Languages;
        this.StateHasChanged();
    }
    private async Task ChangeTheme()
    {
        await serviceOfTheme.ChangeTheme();
    }
    private async Task LanguageChange(UIChangeEventArgs e)
    {
        var value = languages.FirstOrDefault(a => a.Key.Equals(e.Value)).Key;
        await serviceOfLocalization.SetLanguage(value);
        await JsInteropClasses.ReloadPage.Reload();
    }
}