@using Domain.Contracts.Models.ViewModels.Comment

<div class="grid-comment-head">
    <a href="/Post/@comment.PostId"><h3>@comment.PostHeader</h3></a>
    @if (serviceOfAuthorize.IsAuthorize && serviceOfAuthorize.DataAboutUser != null && serviceOfAuthorize.DataAboutUser.Priority >= 1)
    {
        <img src="/img/cross.png" onclick="@Delete" class="cross" style="display: @((comment.BelongsToUser || (serviceOfAuthorize.DataAboutUser != null && serviceOfAuthorize.DataAboutUser.Priority == 3)) ? "" : "none")" />
    }
</div>
<br />
<div style="word-wrap: break-word;">
    @comment.Content
</div>
<br />
<div class="grid-comment-footer">
    <p class="container-date"><LocalizationTime Time="@comment.Created" /></p>
    <div></div>
    <p>@comment.CountOfLikes</p>
</div>
<hr />
<br />

@functions{
    [Parameter] private CommentMiniViewModel comment { get; set; }
    [Parameter] private Action<CommentMiniViewModel> delete { get; set; }

    private async Task Delete()
    {
        await serviceOfRequest.GetAsync($"/api/Comment/Delete?commentId={comment.CommentId}");
        delete.Invoke(comment);
    }
}