@page "/SearchUsers/"
@page "/SearchUsers/{property}"
@layout ContentLayout
@using Domain.Contracts.Models.ViewModels.User
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject Components.ServiceOfAuthorize serviceOfAuthorize

<div id="container-posts">
    <h2>@message</h2>
    @if (ListOfUserMiniViewModels != null)
    {
        <ListViewTemplate Items="@ListOfUserMiniViewModels">
            <ItemTemplate>
                <div class="grid-userMini-search">
                    <img src="@context.Avatar" class="userMiniImg" asp-append-version="true" height="100" width="100" />
                    <div>
                        <p><a href="/UserPage/@(context.Login)"><font size="3">(<font color="@context.Role.Color">@context.Role.Name</font>) @context.FirstName @context.LastName</font></a></p>
                        <p>Ratin - @context.CountOfLikes</p>
                    </div>
                </div>
                <br />
                <hr />
                <br />
                <br />
            </ItemTemplate>
        </ListViewTemplate>
    }
</div>

@functions{
    [Parameter] private string property { get; set; } = "";
    private List<UserMiniViewModel> ListOfUserMiniViewModels { get; set; }
    private string message { get; set; }

    protected override void OnInit()
    {
        if (property == "")
        {
            message = "nothing found :(";
        }
    }
    protected async override Task OnParametersSetAsync()
    {
        if (property != "")
        {
            message = "";
            var users = await serviceOfAuthorize.GetJsonAsync<IEnumerable<UserMiniViewModel>>($"/api/User/GetUserByProperty?property={property}");
            ListOfUserMiniViewModels = users.ToList();
            if (property == "" && ListOfUserMiniViewModels.Count == 0)
            {
                message = "nothing found :(";
            }
            property = string.Empty;
        }
    }
    private void Search()
    {
        UriHelper.NavigateTo($"/SearchUsers/{property}");
    }
}